@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
header{
  width: 100%;
  height: 100px;
  background-color: #ffb3b3;
  margin: auto;
  height: 230px;

}

}
main{
  width: 980px;
  height: 1200px;
  background-color:#ffccdd;
  margin: auto;
}

#title{
  color: #ff6666;
  text-align: center;
  font-size: 60px;
}

body{
  font-family: "Noto Serif Jp", sans-serif;
  background-color: #ffffb3;
}

#centerList{
  width: 600px;
  margin: 0 auto;
  font-size: 40px;
}

#steps{
  font-size: 80px;
  text-align: center;
  color: #ffcc66;
}

#centertext{
  width: 800px;
  margin: 0 auto;
  font-size: 50px;
  color: #ffcc66;
  text-align: center;

}

.cc{
  width: 800px;
  margin: 0 auto;
  font-size: 30px;

}

#fin{
  font-size: 30px;
  text-align: center;
}
