@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

containers margin:0 Auto;

header{
  width: 980px;
  height: 100px;

  margin: auto;
}

footer{
  width: 980px;
  height: 100px;

  margin: auto;
  text-align: center;
}
main{
  width: 980px;
  height: 1110px;
  background-color:white;
  margin: auto;
}

h1{
  color: #ff4d4d;
}

.center{
  text-align: center;
}

.images{
  margin: 5px 8px 8px 5px;
}

.color{
  background-color: white;
}

#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 280px;
  grid-template-columns: 480px 480px;
  margin: 10px;

    text-align: center;
}
/* sets up the pattern/ the framing for the columns (col) */
#col1{
  grid-area: col1;
  background-color: white;
  height: 230px;
  padding: 10px;
  margin: 30px;
}
#col2{
  grid-area: col2;
  background-color: white;
  height: 230px;
  padding: 10px;
  margin: 30px;
}

#grid2{
  display: grid;
  grid-template-areas: "col3 col4";
  grid-template-rows: 320px;
  grid-template-columns: 480px 480px;
  margin: 10px;
  text-align: center;


}
#col3{
  grid-area: col3;
  background-color:white;
  height: 270px;
  padding: 10px;
  margin: 30px;
}
#col4{
  grid-area: col4;
  background-color: white;
  height: 270px;
  padding: 10px;
  margin: 30px;
}

#grid3{
  display: grid;
  grid-template-areas: "col5 col6";
  grid-template-rows: 240px;
  grid-template-columns: 480px 480px;
  margin: 10px;
  text-align: center;
}
#col5{
  grid-area: col5;
  background-color: white;
  height: 340px;
  padding: 10px;
  margin: 30px;
}
#col6{
  grid-area: col6;
  background-color: white;
  height: 340px;
  padding: 10px;
  margin: 30px;
}


nav{
  background-color: #ffff66;
  width:100%;
  margin:0 auto;
  font-family: "PT Sans", "sans";

}

nav ul{

}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 100px;

}
nav ul li a:hover{
  color: gray;
}


#title{
  color: #4d79ff;
  font-family: "PT Sans", "sans";
  margin:0 auto;
  font-size: 150px;
}
.font{
  font-family: "PT Sans", "sans";
}
.foot{
  color: #4d79ff;
}
