@import "desktop3.css";

header, footer{
  height: auto;
  width: 559px;
}
main{
  height: auto;
  width: 559px;
}

#grid1{
  grid-template-areas: "col1" "col2";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  text-align: center;
}

#grid2{

  grid-template-areas: "col3" "col4";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  text-align: center;
}

#grid3{

  grid-template-areas: "col5" "col6";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 559px;
  text-align: center;
}
