@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


nav{
  background-color: #ff944d;
  width:100%;
  margin:0 auto;
  font-family: "PT Sans", "sans";

}

nav ul{

}

nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 100px;

}
nav ul li a:hover{
  color: gray;
}
