@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body{
  background-color: #ecf7f9;
  font-family: 'Noto Serif JP', sans-serif;
}
a{
  text-decoration: none;
  color: #78cad3;
}
  p{
    line-height: 10px;
    text-indent: 5px;
  }
img{
  text-indent: 30px;
}
h1{
  text-align: center;
  background-color: #d8f0f3;
  color: #80ced6;
}
#parasize{
  font-size: large;
}

.textcolor{
  color: #8bd2da;
  background-color: #d8f0f3;
}
/*  class can be used multiple times, that's the difference with id  */

.indent{
  text-indent: 20px
}

#espacio{
  text-indent: 20px;
}

a:hover{
  color: #256c74;
  /* cuando pasas por encima le cambia el color a negro*/
}

#um{
  color: #256c74
}

#lab{
  color:#2c7e87;
}

#give{
  color:#32909a;
}

#camp{
  color:#38a2ad;
}

#no{
  list-style-type: kannada;
}
